<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Delights</title>
</head>
<body>
    <section id="base">
        <header>
            <h1>Django Delights</h1>
            <h3>Welcome, {{ username }}!</h3>
            <h3><a href="{% url 'logout' %}">Logout</a></h3>
        </header>

        <main>
            <ul>
                <h2><a>Restock</a></h2>
                <h2><a>Record a Purchase</a></h2>
                <h2><a>Add a Menu Item</a></h2>
                <h2><a>View Inventory</a></h2>
                <h2><a>View Menu</a></h2>
                <h2><a>View Purchase Log</a></h2>
            </ul>
        </main>

        <footer>
            <h3><a href="{% url 'about' %}">About App</a></h3>
        </footer>
    </section>

    <section id="view">
        {% block content %}

        {% endblock %}
    </section>
</body>
</html>