<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Delights</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <h1 id='logo'>Django Delights</h1>
        <div>
            <h3>Welcome, {{ username }}!</h3>
            <h3><a href="{% url 'logout' %}">Logout</a></h3>
        </div>
    </header>

    <section id="base">
            <a href="{% url 'purchase_create' %}">RECORD A PURCHASE</a>
            <a href="{% url 'purchase' %}">VIEW PURCHASE LOG</a>
            <a href="{% url 'menu_create' %}">ADD A MENU ITEM</a>
            <a href="{% url 'menu' %}">VIEW MENU</a>
            <a href="{% url 'ingredient_create' %}">ADD NEW INVENTORY ITEM</a>
            <a href="{% url 'inventory' %}">VIEW INVENTORY</a>
    </section>

    <section id="view">
        {% block content %}

          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}

        {% endblock %}
    </section>

    <footer>
        <h3><a href="{% url 'about' %}">About App</a></h3>
    </footer>
</body>
</html>