{% extends "restaurant/base.html" %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'restaurant/style.css' %}">

<script type="text/javascript">
    function addNewField() {
        const ingredientNum = document.getElementsByClassName('ingredientFieldSet').length + 1;

        const form = document.getElementById('ingredientsSection');
        const ingredientFieldSet = document.createElement('fieldset');
        ingredientFieldSet.className = `ingredientFieldSet`;

        const radioExisting = document.createElement('input');
        radioExisting.type = 'radio';
        radioExisting.id = `existing${ingredientNum}`;
        radioExisting.className = 'radio';
        radioExisting.setAttribute('checked', 'true');
        radioExisting.setAttribute('name', `radio${ingredientNum}`);
        radioExisting.setAttribute('value', 'ExistingIngredient');
        radioExisting.addEventListener('change', existingMode);


        const radioExistingLabel = document.createElement('label');
        radioExistingLabel.setAttribute = ('for', radioExisting.id);
        radioExistingLabel.innerHTML = 'Existing Ingredient';

        const radioNew = document.createElement('input');
        radioNew.type = 'radio';
        radioNew.id = `new${ingredientNum}`;
        radioNew.className = 'radio';
        radioNew.setAttribute('name', `radio${ingredientNum}`);
        radioNew.setAttribute('value', 'NewIngredient');
        radioNew.addEventListener('change', newOrUpdateMode);

        const radioNewLabel = document.createElement('label');
        radioNewLabel.setAttribute = ('for', radioNew.id);
        radioNewLabel.innerHTML = 'New/Update Ingredient';

        const legend = document.createElement('legend');
        legend.innerHTML = `Ingredient ${ingredientNum}`;

        const newField = document.createElement('input');
        newField.type = 'text';
        newField.className = 'ingredientField';
        newField.setAttribute('list', 'ingredientList');
        newField.setAttribute('name', `ingredient${ingredientNum}`);
        newField.setAttribute('autocomplete', 'off');
        newField.id = `ingredient${ingredientNum}`
        newField.addEventListener('change', checkAppropriateMetric);
        newField.addEventListener('keydown', handleKeyDown);

        newFieldLabel = document.createElement('label')
        newFieldLabel.setAttribute = ('for', newField.id)
        newFieldLabel.innerHTML = `ingredient${ingredientNum}`

        const newFieldQuantity = document.createElement('input');
        newFieldQuantity.type = 'number';
        newFieldQuantity.id = `quantity${ingredientNum}`
        newFieldQuantity.name = `quantity${ingredientNum}`
        newFieldQuantity.step = 0.01;
        newField.className = 'ingredientFieldQuantity';

        quantityLabel = document.createElement('label')
        quantityLabel.setAttribute = ('for', newFieldQuantity.id)
        quantityLabel.innerHTML = `quantity`

        const newFieldMetric = document.createElement('select');
        newFieldMetric.id = `metric${ingredientNum}`
        newFieldMetric.name = `metric${ingredientNum}`

        const metricLabel = document.createElement('label');
        metricLabel.setAttribute('for', newFieldMetric.id);
        metricLabel.innerHTML = 'metric';

        const price = document.createElement('input');
        price.type = 'number';
        price.step = '0.01';
        price.id = `price${ingredientNum}`;
        price.name = `price${ingredientNum}`;
        price.hidden = true;

        priceLabel = document.createElement('label');
        priceLabel.setAttribute('for', price.id);
        priceLabel.setAttribute('id', `priceLabel${ingredientNum}`);
        priceLabel.hidden = true;
        priceLabel.innerHTML = 'price';


        const metrics = ['kg', 'l', 'units'];
        for (let i = 0; i < metrics.length; i++) {
            const metricOption = document.createElement('option');
            metricOption.value = metrics[i];
            metricOption.innerHTML = metrics[i];
            newFieldMetric.appendChild(metricOption);
        };

        ingredientFieldSet.appendChild(legend);
        ingredientFieldSet.appendChild(radioExistingLabel);
        ingredientFieldSet.appendChild(radioExisting);
        ingredientFieldSet.appendChild(radioNewLabel);
        ingredientFieldSet.appendChild(radioNew);
        ingredientFieldSet.appendChild(newFieldLabel);
        ingredientFieldSet.appendChild(newField);
        ingredientFieldSet.appendChild(quantityLabel);
        ingredientFieldSet.appendChild(newFieldQuantity);
        ingredientFieldSet.appendChild(metricLabel);
        ingredientFieldSet.appendChild(newFieldMetric);
        ingredientFieldSet.appendChild(priceLabel);
        ingredientFieldSet.appendChild(price);
        form.appendChild(ingredientFieldSet);
    };

    function checkAppropriateMetric(e) {
        const ingredients = JSON.parse("{{ ingredients_json|escapejs }}");

        const selectedIngredient = e.target.value;
        const metricField = e.target.parentNode.lastChild;

        for (let i=0; i<ingredients.length; i++) {
            const currentIngredient = ingredients[i].fields.name;
            if (selectedIngredient === currentIngredient) {
                metricField.value = ingredients[i].fields.metric.toLowerCase();
                break;
            }
        }
    };

    function existingMode(e) {
        const ingredientNum = e.target.id.slice(-1);
        const ingredientName = document.getElementById(`ingredient${ingredientNum}`);
        ingredientName.addEventListener('keydown', handleKeyDown);
        ingredientName.addEventListener('paste', handlePaste);

        const ingredientPrice = document.getElementById(`price${ingredientNum}`);
        ingredientPrice.hidden = true;

        const priceLabel = document.getElementById(`priceLabel${ingredientNum}`);
        priceLabel.hidden = true;
    };

    function newOrUpdateMode(e) {
        const ingredientNum = e.target.id.slice(-1);
        const ingredientName = document.getElementById(`ingredient${ingredientNum}`);
        ingredientName.removeEventListener('keydown', handleKeyDown);
        ingredientName.removeEventListener('paste', handlePaste);

        const ingredientPrice = document.getElementById(`price${ingredientNum}`);
        ingredientPrice.hidden = false;

        const priceLabel = document.getElementById(`priceLabel${ingredientNum}`);
        priceLabel.hidden = false;
    };

    function handleKeyDown(e) {
        e.preventDefault();
    };

    function handlePaste(e) {
        e.preventDefault();
    };

</script>
<script src="https://kit.fontawesome.com/ae4e280129.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h1>ADD A NEW ITEM TO THE MENU</h1>
<form method="POST" id="menuItemForm">
    {% csrf_token %}
    {{ form.as_p }}
    <i class="fa-solid fa-plus" onclick="addNewField()">Add ingredient</i>
    
    <datalist id="ingredientList">
        {% for ingredient in ingredients %}
        <option value="{{ ingredient.name }}"></option>
        {% endfor %}
    </datalist>
    <div id="ingredientsSection">

    </div>
    <input class="submitButton" type="submit" value="Submit"></input>
</form>
{% endblock%}