<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
  <h1>Here's what's on the menu!</h1>
  <table>
    <thead>
      <tr>
        <th colspan="2">Our Menu</th>
      </tr>
      <tr>
        <th colspan="1">Name</th>
        <th colspan="1">Price</th>
      </tr>
    </thead>

    <tbody>
        {% for menu_item in object_list %}
        <tr>
          <td>{{menu_item.name}}</td>
          <td>{{menu_item.price}}lv.</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

</body>
</html>