{% extends "restaurant/base.html" %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'restaurant/style.css' %}">

{% endblock%}

{% block content %}

  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}

  <h1>HERE'S OUR MENU!</h1>
  <table>
    <thead>
      <tr>
        <th colspan="4">Our Menu</th>
      </tr>
      <tr>
        <th colspan="1">Name</th>
        <th colspan="1">Price</th>
        <th colspan="1">Recipe Requirements</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
        {% for menu_item in object_list %}
        <tr>
          <td>{{menu_item.name}}</td>
          <td>{{menu_item.price}}lv.</td>
          <td>
            {% for entry in recipe_requirements %}
              {% for item_name, requirement in entry.items %}
                {% if item_name == menu_item.name %}
                  <pre>{{requirement}}</pre>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </td>
          <td><a href="{% url 'menu_delete' menu_item.id %}"><button>Delete</button></a></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}