{% extends "restaurant/base.html" %}
{% load static %}

{% block head %}
<script type="text/javascript">
    function addNewField() {
        const ingredientNum = document.getElementsByClassName('ingredientFieldSet').length + 1;

        const form = document.getElementById('ingredientsSection');
        const ingredientFieldSet = document.createElement('fieldset');
        ingredientFieldSet.className = `ingredientFieldSet`;

        const legend = document.createElement('legend');
        legend.innerHTML = `Ingredient ${ingredientNum}`;

        const newField = document.createElement('input');
        newField.type = 'text';
        newField.className = 'ingredientField';
        newField.setAttribute('list', 'ingredientList');
        newField.setAttribute('name', `ingredient${ingredientNum}`);
        newField.id = `ingredient${ingredientNum}`
        newField.addEventListener('change', checkAppropriateMetric);

        newFieldLabel = document.createElement('label')
        newFieldLabel.setAttribute = ('for', newField.id)
        newFieldLabel.innerHTML = `ingredient${ingredientNum}`

        const newFieldQuantity = document.createElement('input');
        newFieldQuantity.type = 'number';
        newFieldQuantity.id = `quantity${ingredientNum}`
        newFieldQuantity.name = `quantity${ingredientNum}`
        newField.className = 'ingredientFieldQuantity';

        quantityLabel = document.createElement('label')
        quantityLabel.setAttribute = ('for', newFieldQuantity.id)
        quantityLabel.innerHTML = `Quantity of ingredient ${ingredientNum}`

        const newFieldMetric = document.createElement('select');
        newFieldMetric.id = `metric${ingredientNum}`
        newFieldMetric.name = `metric${ingredientNum}`

        const metrics = ['g', 'ml', 'units'];
        for (let i = 0; i < metrics.length; i++) {
            const metricOption = document.createElement('option');
            metricOption.value = metrics[i];
            metricOption.innerHTML = metrics[i];
            newFieldMetric.appendChild(metricOption);
        };

        ingredientFieldSet.appendChild(legend);
        ingredientFieldSet.appendChild(newFieldLabel);
        ingredientFieldSet.appendChild(newField);
        ingredientFieldSet.appendChild(quantityLabel);
        ingredientFieldSet.appendChild(newFieldQuantity);
        ingredientFieldSet.appendChild(newFieldMetric);
        form.appendChild(ingredientFieldSet);
    };

    function checkAppropriateMetric(e) {
        const ingredients = JSON.parse("{{ ingredients_json|escapejs }}");

        const selectedIngredient = e.target.value;
        const metricField = e.target.parentNode.lastChild;

        for (let i=0; i<ingredients.length; i++) {
            const currentIngredient = ingredients[i].fields.name;
            if (selectedIngredient === currentIngredient) {
                metricField.value = ingredients[i].fields.metric.toLowerCase();
                break;
            }
        }
    };
</script>
<script src="https://kit.fontawesome.com/ae4e280129.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<form method="POST" id="menuItemForm">
    {% csrf_token %}
    {{ form.as_p }}
    <i class="fa-solid fa-plus" onclick="addNewField()"></i>
    <datalist id="ingredientList">
        {% for ingredient in ingredients %}
        <option value="{{ ingredient.name }}"></option>
        {% endfor %}
    </datalist>
    <div id="ingredientsSection">

    </div>
    <input type="submit">Submit</input>
</form>
{% endblock%}