html {
    height: 100vh;
}


body {
    font-family: 'Merienda', cursive;
    display: grid;
    height: 100%;
    grid-template: 10% 80% 10% / 1fr 3fr;
    grid-template-areas:
    "header header" 
    "base view"
    "footer footer";
    background-image: url("./authentic-italian-pasta.593b31c3e1d1.jpg");
    background-size: cover;
    color: white;
    margin: 0px;
}

a {
    color: white;
    text-decoration: none;
}

.submitButton {
    margin: 20px 0px 10px 0px;
}

#logoutButton {
    display: block;
    width: fit-content;
}

#navGroup1, #navGroup2, #navGroup3 {
    padding: 20px 0px;
}

#navGroup1, #navGroup2 {
    border-bottom: 1px solid white;
}

header, footer {
    background: rgb(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    backdrop-filter: blur(10px);
}


header {
    grid-area: header;
}

header div {
    font-size: 18px;
}

header p {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#logo {
    font-family: 'Italianno', cursive;
    font-size: 60px;
    margin: 18px 0px;
}

#base {
    grid-area: base;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid white;
}

#base li {
    display: block;
    list-style-type: none;
}

a {
    transition: 0.3s;
}

#base a {
    display: block;
    font-size: 18px;
    padding: 12px 0px 12px 20px;
    margin: 15px 0px;
    list-style-type: none;
}

a:hover {
    background-color: gainsboro;
    color: black;
}

#view {
    height: 550px;
    justify-self: center;
    align-self: center;
    grid-area: view;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    scroll-behavior: smooth;
    border-radius: 10px;
    background: rgb(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    padding: 25px;
}

#view h1 {
    margin: 20px 0px 30px 0px;
}

table {
    height: 75%;
    width: 85%;
}

table, td, th {
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
}

td, th {
    padding: 5px 5px;
}

form {
    width: 600px;
    height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: safe center;
}

form p {
    width: 150px;
    display: flex;
    flex-direction: column;
}

form input, form select {
    width: 150px;
    margin-bottom: 10px;
}

form select {
    width: 150px;
    padding: 2px 3px;
    box-sizing: content-box;
}

form fieldset {
    display: flex;
    flex-direction: column;
}

.radio {
    width: fit-content;
}

#ingredientsSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer {
    grid-area: footer;
}


.authBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authForm {
    border-radius: 10px;
    background: rgb(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    width: auto;
    height: auto;
}

.authForm p {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authForm input {
    width: 250px;
}

.authForm .helptext {
    width: 250px;
}

.authHeading {
    font-family: 'Italianno', cursive;
    font-size: 48px;
}